#quote-box {
  background-color: rgb(251, 253, 238);
  color: black;
  border-radius: 10px;
  padding: 30px;
  width:500px;
  box-sizing: border-box;
}



#new-quote {
  background: none;
  color: inherit;
  background-color: rgb(255, 248, 206);
  border: inherit;
  border-radius: 10px;
  padding: 5px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: flex;
  color: #222;
  width: 130px;
  justify-content: space-evenly;
  font-size: 16px;
  height: 40px;
  align-items: center;
  transition: ease-in 0.3s;
}

#new-quote:hover {
  background-color: rgb(255, 241, 196);
  color: #000;
  transition: ease-in 0.2s;
}

#author {
    font-size:smaller;
    padding: 30px 0px;
}

#buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.icon-button {
  width: 20px;
  height: 20px;
  margin: 0px;
  opacity: 0.8;
  cursor: pointer;
  padding: 10 0px;
}
