.App {
  text-align: center;
  font-family: 'Courier New';

}

#title {
  letter-spacing:0.5vmin;
}

.App {
  background-color: #edf0f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: #27292e;
}

.App-header {
  padding: 20px 0px;
}



